* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body { 
  background: linear-gradient(to right, #101011, #310c5e);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  padding: 5px;
}

section {
  width: 100vw;
  padding: 20px;
  min-height: 100vh;
}

#name {
  color: white;
  font-size: 45px;
  margin-left: 70px;
  margin-top: 80px;
}

.myPicture {
  border-radius: 50%;
  object-fit: cover;
  width: 280px;
  height: 280px;
  margin: 20px;
}

.containerHome {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 60px;
  font-size: xx-large;
}

#yellow {
  color: #f9d68a;
  font-weight: bolder;
  transition: 0.5s;
}

.socials {
  display: flex;
}

.socials a {
  margin-top: 30px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.socials a:hover {
  transform: scale(1.5);
  color: #ffc300;
  transition: .5s;
}

#hire {
  background-color: white;
  color: #310c5e;
  width: 130px;
  border-radius: 7px;
  padding: 2px;
  margin-right: 10px;
  margin-top: 20px;
  font-weight: bolder;
  height: 30px;
  cursor: pointer;
  border: none;
}

#resume {
  background-color: white;
  color: black;
  width: 130px;
  border: white;
  border-radius: 7px;
  padding: 2px;
  font-weight: bolder;
  height: 30px;
  cursor: pointer;
}

#resume a {
  color: #310c5e;
  text-decoration: none;
}

/* NAV */
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background: linear-gradient(to right, #101011, #310c5e);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: all .5s ease-in-out;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 1000;
}

#nav {
  margin-right: auto;
  margin-left: 610px;
  font-size: x-large;
}
th {
  
  padding-right: 25px;
}

#hireNav {
  background: linear-gradient(to right, #3d176c, #160f1c);
  display: inline-block;
  color: white;
  width: 100px;
  height: 28px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

#hireNav:hover {
  transition: all .5s ease-in-out;
  transform: scale(1.1) rotate(-5deg);
  color: #f9d68a;
}

#nav a:hover {
  color: #f9d68a;
}

#nav a {
  color: white;
}

.home, .skills, .projects, .resume, .contact {
  color: black;
  text-decoration: none;
}

/* skills */
.frontend, .backend {
  background: linear-gradient(to right, #101011, #471f7f);
  padding: 20px;
  font-size: xx-large;
  border-style: groove;
  border-radius: 10px;
  color: burlywood;
  margin: 20px;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  
}

.skill-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 90%;
  justify-content: space-around;
}

.frontend-icons, .backend-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.skillHead {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0;
  text-decoration: underline;
}

p {
  color: white;
  font-size: 2rem;
  
}

/* projects */
.projectHead {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin: 5rem 0;
  text-decoration: underline;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.projects-title {
  background: linear-gradient(to right, #101011, #471f7f);
  text-align: center;
  width: 30%;
  font-size: xx-large;
  border-style: groove;
  border-radius: 10px;
  color: burlywood;
  padding: 20px;
  margin-bottom: 20px;
}

.delivery {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projects-title:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all .5s ease-out;
}
.foodwise-project img{
  width: 66%;
}
.ai-project img{
  width: 100%;
}
.airways-project{
  width: 90%;
}

@media screen and (max-width: 960px) {
  .myPicture {
    width: 230px;
    height: 230px;
    margin-top: 60px;
  }

  .projects-title {
    width: 90%;
    font-size: large;
  }

  .delivery {
    width: 90%;
  }
  .airways-project{
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  #name {
    font-size: 20px;
    margin-left: 5px;
  }

  .horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding-bottom: 6px;
  }

  #nav {
    padding-top: 5px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .myPicture {
    width: 80vw;
    height: 50vh;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .skills-list  p{
    margin-top: -70px;
  }
  .project-list p{
    margin-top: -50px;
  }
  .containerHome {
    font-size: small;
    margin-left: 5px;
  }

  #hire {
    font-size: small;
  }

  .frontend-icons, .backend-icons {
    grid-template-columns: 1fr 1fr;
  }

  .skillHead {
    font-size: 2.5rem;
  }

  .projectHead {
    font-size: 2.5rem;
  }

  .projects-title {
    width: 100%;
  }

  .delivery {
    width: 100%;
  }

  .project-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .skill-container{
    display: flex;
    flex-direction: column;
  }
  #Nav{
    font-size: 18px;
    margin-left: 20px;
  }
}
